*{
	font-family: "微软雅黑","苹方";
	text-decoration: none;
}

.dingbu{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.dingbu1{
	width: 100%;
	height: 1.3rem;
	background: #0078E6;
	position: relative;
}
.yuan{
	width: 0.12rem;
	height: 0.12rem;
	background: white;
	border-radius: 50%;
	float: left;
	margin-top: 0.15rem;
	margin-right: 0.04rem;

}
.dingbu1 .yuan:nth-child(1){
	margin-left: 0.24rem;
}
.yuan1{
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
	float: left;
	margin-top: 0.15rem;
	margin-right: 0.04rem;
	border: 1px solid white;
}
.dingbu1 span{
     font-size: 0.24rem;
     display: inline-block;
     color: white;
     margin-top: 0.05rem;
     margin-left: 0.14rem;
     float: left;

}
.wuxian{
	width: 0.36rem;
	height: 0.32rem;
	background: black;
	float: left;
	margin-left:0.12rem;
}
.wuxian img{
	width: 100%;
	height: 100%;
}
.dingbu1 em{
	font-size: 0.25rem;
	font-style: normal;
	color: white;
	display: inline-block;
	margin-top: 0.07rem;
	margin-left: 1.14rem;
	float: left;
}
.dianchi{
	width:0.5rem;
	height: 0.3rem;
	background: yellow;
	float: right;
	margin-right: 0.23rem;
	margin-top: 0.02rem;
}
.dianchi img{
	width: 100%;
	height: 100%;
}
.dingbu1 i{
	font-style: normal;
	font-size: 0.24rem;
	display: inline-block;
	float: right;
	color: white;
	margin-top: 0.07rem;
	margin-right: 0.11rem;

}
.xuanzhuan{
	width: 0.25rem;
	height:0.29rem;
	background: yellow;
	float: right;
	margin-top: 0.03rem;
	margin-right: 0.11rem;

}
.xuanzhuan img{
	width: 100%;
	height: 100%;
}
.haitun{
	width:0.74rem;
	height: 0.80rem;
	background: yellow;
	position: absolute;
	top: 0.50rem;
	left: 2.73rem;

}
.haitun img{
	width: 100%;
	height: 100%;
}
.dingbu1 a{
	display: inline-block;
	font-size: 0.36rem;
	color: white;
	position: absolute;
	top: 0.60rem;
	left:3.60rem;
	text-decoration: none;
}
.banner{
	width: 100%;
	height: 2.77rem;
	background: yellow;

}
.banner img{
	width: 100%;
	height: 100%;
}
.zhongbu{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0.3rem 0.24rem 0rem 0.24rem;
	box-sizing: border-box;
	background: #F5F6FA;

}
.zhongbu span{
	font-size: 0.2rem;
	display: block;
	width: 100%;
	color: #514F4F;

}
.zhongbu ul>li{
	width: 100%;
	height: auto;
	padding: 0.26rem 0.20rem 0 0.20rem;
	background: white;
	box-sizing: border-box;
	overflow: hidden;
	

}
.zhongbu ul>li:nth-child(1){
	margin-top: 0.28rem;
}

.zhongbu ul>li> .kuai{
	width: 0.05rem;
	height: 0.22rem;
	background: #01B5FF;
	float: left;
	margin-right: 0.2rem;
	margin-top: 0.06rem;
}
.zhongbu ul>li>span{
	display: block;
	font-size: 0.24rem;
	width: 100%;
	color: black;
}
.zhongbu ul>li> .xuxian{
	width: 6.35rem;
	border: 0.01rem dashed #999999;
	margin-left: 0.25rem;
	margin-top: 0.14rem;
}
.zhongbu ul>li>p{
	margin-left: 0.23rem;
	font-size: 0.2rem;
	line-height: 0.3rem;
	margin-top: 0.1rem;
}
.zhongbu ul>li>p:nth-child(5){
	margin-top: 0.3rem;
	padding-bottom: 0.3rem;
}
.tu{
	width: 100%;
	height: 3.62rem;
	background: #474747;
	
}
.tu2{
	width: 100%;
	height: 0.9rem;
	background: red;
}
.tu2 img{
	width: 100%;
	height: 100%;
}
.daohang{
	width: 100%;
	height: auto;
	background:#F5F6FA;
	line-height: 0.5rem;
	padding-left: 0.15rem;
	box-sizing: border-box;
}
.daohang>span{
	font-size: 0.22rem;
	color: black;
}
.daohang>span>em{
	font-style: normal;
	color: #01B5FF;
}
.kuai1{
	width: 100%;
	height: 0.27rem;
	
	margin-top: 0.3rem;

}
.kuai1 a{
	font-size: 0.23rem;
	color: black;
	text-decoration: none;
	/* display: block; */

}
.yuan3{
	width: 0.1rem;
	height: 0.1rem;
	border: 0.02rem solid #01B5FF;
	border-radius: 50%;
	float: left;
	margin-right: 0.16rem;
margin-top: 0.08rem;

}
.xiaoyuan{
	width: 0.06rem;
	height: 0.06rem;
	background: #01B5FF;
	border-radius: 50%;
	
	margin-left: 0.02rem;
	margin-top: 0.02rem;
}
.kuai1 a>span{
	font-size: 0.23rem;
	color: black;
	text-decoration: none;
	color: #01B5FF;
	display: block;


}

.dibu{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #F5F6FA;
	text-align: center;
	padding-bottom: 0.18rem;
}
.dibu span{
	display: block;
	font-size: 0.2rem;
	color: #666666;
	margin-top: 0.2rem;
	
}
.dibu a{
	font-size: 0.2rem;
	color: #666666;
	margin-top: 0.07rem;
	display: block;
	text-decoration: none;
}
.zhongbu ul>li> .kuai1:nth-child(7){
	padding-bottom: 0.3rem;
}